    <header class="header header-2">
    <div class="branding logo">
            <img src="../assets/holmesNewLogo.png" alt="Logo Not Found">
            <span class="title ">E & P Digitization</span>
    </div>
     
    <div class="header-actions">
          <clr-dropdown clrMenuPosition="bottom-right">
            <button class="nav-icon" clrDropdownToggle>
                <clr-icon shape="user"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu>
                <a clrDropdownItem>About</a>
                <a  clrDropdownItem>Preferences</a>
                <a  clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
        </clr-dropdown>
        <div class="logo-wipro">
            <img src="../assets/wiprobrandKit.png" alt="Logo Not Found">
        </div>
    </div>
    
</header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>

